<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">


<dom-module id="mis-tabs">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

      <paper-tabs selected="0" scrollable>
        <paper-tab>Tab 0</paper-tab>
        <paper-tab>Tab 1</paper-tab>
        <paper-tab>Tab 2</paper-tab>
        <paper-tab>Tab 3</paper-tab>
      </paper-tabs>

  </template>

  <script>
    
    class MisTabs extends Polymer.Element {
      static get is() { return 'mis-tabs'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mis-tabs'
          }
        };
      }
    }

    window.customElements.define(MisTabs.is, MisTabs);
  </script>
</dom-module>
